* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    padding: 2rem;
    height: 100vh;
    background: linear-gradient(to bottom, #41C9E2, #4CCD99);
    font-family: Poppins, sans-serif;
}

h1{
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    font-size: 3rem;

}

h3{
    font-weight: 600;
    font-size: 2rem;
    
}

.kalender{
    margin: auto;
    width: 38rem;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}
.kalender header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kalender ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.kalender ul li{
    width: calc(100% / 7);
    margin-top: 2.5rem;
    position: relative;
    z-index: 2;
}
.dagen li {
    font-size: 0.7rem; 
}

#vorige, #volgende {
    width: 2rem;
    height: 2rem;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#vorige::before, #volgende::before {
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-radius: #ccc;
    border-color: #ccc;
}

#vorige::before{
    transform: translate(-50%, -50%)rotate(45deg);
}
#volgende::before{
    transform: translate(-50%, -50%)rotate(-135deg);
}

#vorige:hover::before,
#volgende:hover::before {
    border-color: #000;
}

.dagen{
    font-weight: 600;
}

.datums li.vandaag{
    color: #fff
}

.datums li.vandaag::before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: 1;
}

.dagen li.inactive{
    color: #ccc;
}



